<a routerLink="./..">Cofnij</a>
<p>Animacje angulara opieraja sie o pojęcia:</p>
<p>Triggera - Jest to definicja dyrektywy, ktora ma za zadanie animować tag html.</p>
<p style="margin-left:20px">State - Jest to string będący przekazany do dyrektywy trigger. Opisuje on stan tagu</p>
<p style="margin-left:20px">Transition - Definiuje w jaki sposób trigger animuje przejscia pomiędzy stanami</p>
<p>1.Zmiana koloru - bez zadnej animacji</p>
Kliknij!
<div [@first]="firstState" (click)="firstState='clicked'" style="width:100px;height:100px;background-color:red;">
</div>
<p>2.Zmiana koloru - z animacja</p>
Kliknij!
<div [@second]="secondState" (click)="secondState=secondState==='clicked' ? 'default' : 'clicked'" style="width:100px;height:100px;background-color:red;">
</div>
<p>3.Zmiana koloru - z animacja powrotną</p>
Kliknij!
<div [@third]="thirdState" (click)="thirdState=thirdState==='clicked' ? 'default' : 'clicked'" style="width:100px;height:100px;background-color:red;">
</div>
<p>4.Zmiana koloru - 3 stany - posredni z  mousedown </p>
Kliknij!
<div [@fourth]="fourthState" (mousedown)="fourthState='mouseDown'" (click)="fourthState=fourthState==='clicked' ? 'default' : 'clicked'" style="width:100px;height:100px;background-color:red;">
</div>
<p>5.Zmiana koloru - od razu pojawia sie border z chwilą startu animacji, a kolor smukle </p>
Kliknij!
<div [@fifth]="fifthState" style="width:100px;height:100px;background-color:purple"
 (click)="fifthState=fifthState==='clicked' ? 'default' : 'clicked'" >
</div>
<p>6.Rozszerzenie i zwęzenie - bez zadnych state'ów - tylko za pomoca animate() i style() </p>
Mozna to zrobic w transition dodac do 2 parametru - animationMetadata tablice typu:
animate(czas,style()) - wtedy po czasie zanimuje do stylu.
width:* - gwiazdka oznacza width jaki bylby bez tych naszych animacji - uzyty do powrotu do starej szerokosci
<div [@sixth]="sixthState" style="width:100px;height:100px;background-color:purple"
 (click)="sixthState=sixthState==='clicked' ? 'default' : 'clicked'" >
</div>
<p>7.Wolne rozszerzanie i szybka zmiana koloru w tym samym czasie</p>
Do tego trzeba użyć group w animationmetadata naszego transition. group(animate(),animate()) - to animuje te obydwie 
animacje w tej samej chwili 
<div [@seventh]="seventhState" style="width:100px;height:100px;background-color:purple"
 (click)="seventhState=seventhState==='clicked' ? 'default' : 'clicked'" >
</div>
<p>8.Przejscie z purpurowego do niebieskiego,rozowego,zoltego i na koncu do czerwonego - najprosciej jak sie da</p> 
Najprosciej jest to zrobic przy keyframes'ach. Na zasadzie: 
<textarea>
        ('czas',keyframes([style({blue}),style({pink}),style({yellow})])') 
</textarea>przy czym property 
css'owe offset (od 0 do 1) definiuje czas na animacje pomiedzy stylami
<div [@eigth]="eigthState" style="width:100px;height:100px;background-color:purple"
 (click)="eigthState=eigthState==='clicked' ? 'default' : 'clicked'" >
</div>
<p>9.Majac parent div z dwoma childami - miej triggera na parencie - ale animuj obydwa childy zupelnie inaczej.
    Najlepiej uzyc do tego query
<div [@nineth]="ninethState" 
 (click)="ninethState=ninethState==='clicked' ? 'default' : 'clicked'" >
 <div class="first" style="display:inline-block;background-color: yellow;width:100px;height:100px"></div>
 <div class="second" style="display:inline-block;background-color: purple;width:100px;height:100px"></div>
</div>
<p>10.Majac parent div z dwoma childami - miej triggera na parencie - ale animuj obydwa childy zupelnie inaczej, ale jednoczesnie.
        Query mozna tez dac w grupie!
    <div [@tenth]="tenthState" 
     (click)="tenthState=tenthState==='clicked' ? 'default' : 'clicked'" >
     <div class="first" style="display:inline-block;background-color: yellow;width:100px;height:100px"></div>
     <div class="second" style="display:inline-block;background-color: purple;width:100px;height:100px"></div>
    </div>