<a style="margin-right: 10px" routerLink="./proba">Próba</a>
<a routerLink="./rozwiazanie">Rozwiązanie</a>
<p>Mając cos takiego:</p>
<div class="rectangle" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<textarea style="display:block;width:100%;margin:10px">
    <div style="width:100px;height:100px;background-color:red;">
    </div>
</textarea>
<p>1. Do zielonego czystym cssesem</p>
<p>2. Do zielonego czystym cssesem - po zakończeniu animacji ma być dalej zielony</p>
<p>3. Do zielonego czystym cssesem - po drodze w polowie ma byc fioletowy po zakończeniu animacji ma być dalej zielony</p>