<a routerLink="./..">Cofnij</a>
<p class="pytanie">1.Czym jest krotka</p>
<p class="odp">Jest to struktura przechowująca wartosci o różnych typach w odróżnieniu od Array'a.
     (w innych językach jest też immutable) </p> <button (click)="tupluj()">Tupluj</button>
<p>2.Jaka jest roznica miedzy any a Object</p>
<p>Object jest bardziej restrykcyjny. Wywolanie metody ktora nie istnieje z objectu - da compilation errora. Link -<a href="https://stackoverflow.com/questions/18961203/any-vs-object">Source</a></p>