<a style="margin-right: 10px" routerLink="./proba">Próba</a>
<a routerLink="./rozwiazanie">Rozwiązanie</a>
<span>Transition są używane do smuklego przejscia property css'a. Jest najbardziej podstawowe i nie ma wielu możliwosci. Jesli
    mozna - warto z nich skorzystac, ale czesto trzeba siegnac po wiekszy arsenal
</span>
<p>Mając cos takiego:</p>
<div class="rectangle" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<textarea style="display:block;width:100%;margin:10px">
    <div style="width:100px;height:100px;background-color:red;">
    </div>
</textarea>
<p>1.Do zielonego</p>
<p>2. Do zielonego z obrotem asynchronicznie (t.j. rownoczesnie)</p>
<p>5. Do zielonego z obrotem asynchronicznie (t.j. rownoczesnie) 6 razy</p>
<p>6. Do zielonego bez procentów</p>