<a routerLink="./..">Cofnij</a>
<p>1. Do zielonego czystym cssesem</p>
<div class="pure-css" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<p>2. Do zielonego czystym cssesem - po zakończeniu animacji ma być dalej zielony</p>
Kluczem rozwiązania jest animation-fill-mode: forwards; Rownie dobrze mozna dodac samo forwards do animation:...;
<div class="pure-css-still-green" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<p>3. Do zielonego czystym cssesem - po drodze w polowie ma byc fioletowy po zakończeniu animacji ma być dalej zielony</p>
<div class="pure-css-50-violet-still-green" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<p>4. Do zielonego z obrotem asynchronicznie (t.j. rownoczesnie)</p>
<div class="pure-css-rotate" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<p>5. Do zielonego z obrotem asynchronicznie (t.j. rownoczesnie) 6 razy</p>
<div class="pure-css-rotate6" style="width:100px;height:100px;background-color:red;margin:10px">
</div>
<p>6. Do zielonego bez procentów - można zastosować zamiast procentów slowa from,to</p>
<div class="pure-css-no-percents" style="width:100px;height:100px;background-color:red;margin:10px">
</div>