// Zadanie 1
.pure-css{
    animation: doZielonego 2000ms ease-in 0.4s;
}
@keyframes doZielonego{
    100% {background-color:green}
}

// Zadanie 2
.pure-css-still-green{
    animation: doZielonego 2000ms ease-in 0.4s;
    animation-fill-mode: forwards
}

// Zadanie 3
.pure-css-50-violet-still-green{
    animation: doZielonegoPrzezNiebieski 2000ms ease-in 0.4s forwards;
}
@keyframes doZielonegoPrzezNiebieski{
    100% {background-color:green}
    50% {background-color:violet}
}
// Zadanie 4
.pure-css-rotate{
    animation: rotate 3000ms forwards;
}
@keyframes rotate{
    100% {background-color:green;transform:rotate(360deg)}
}

// Zadanie 5
.pure-css-rotate6{
    animation: rotate 3000ms forwards ;
    animation-iteration-count: 6;
}

.pure-css-no-percents{
    animation:noPerc 6000ms;
}
@keyframes noPerc{
    from {background-color:green}
    to {background-color:red}
}